
body {
  overflow: hidden;
  font-size: 16px;
}
.chart-wrapper {
  width: 100%;
  height: 87%;
  background-color: #ffffff;
}

path {
  stroke: #ffffff;
  /* stroke-width: 5px; */
  cursor: pointer;
  transition: fill 250ms;
  /*&:hover {*/
  /*  !* stroke-width: 10px; *!*/
  /*  fill: rgba(76, 125, 175, 0.56);*/
  /*}*/
}

text {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .5px;
}

polyline {
  fill: none;
  stroke: rgba(76, 125, 175, 0.56);
  stroke-width: 2px;
  stroke-dasharray: 5px;
}
button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  font-size: .6em;
  background-color: transparent;
  color: rgba(76, 125, 175, 0.56);
  border: 1px solid rgba(76, 125, 175, 0.56);
  letter-spacing: 1px;
  transition: all 250ms;
  /*&:hover {*/
  /*  background-color: rgba(76, 125, 175, 0.56);*/
  /*  color: #ffffff;*/
  /*  box-shadow: 0 0 2px rgba(76, 125, 175, 0.56);*/
  /*}*/
  /*&:active {*/
  /*  opacity: 0.5;*/
  /*}*/
}