
#bg_graf{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}


/* titel dashboard */

#titel_see_info{
    display: flex;
    margin-bottom: 12px;
}

.dash_block1{
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: fit-content;
}

.block_info_dash_bl1{
    flex-grow: 1;
    height: 105px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.bl1_item1_color{
    border-left: 0.25rem solid #4e73df!important;
}

.bl1_item2_color{
    border-left: 0.25rem solid #1cc88a!important;
}

.bl1_item3_color{
    border-left: 0.25rem solid #36b9cc!important;
}

.bl1_item4_color{
    border-left: 0.25rem solid #f6c23e!important;
}

.bl1_item5_color{
    border-left: 0.25rem solid #858796!important;
}


.block_bl1_info{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.block_bl1_titel{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
}

.item1{
   color: #5d6ee4;
}

.item2{
    color: #1cc88a;
}

.item3{
    color: #36b9cc;
}

.item4{
    color: #f6c23e;
}

.item5{
    color: #858796;
}

.block_bl1_titel2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: #5a5c69;
}

@media screen and (max-width: 767px){
    #titel_see_info{
        flex-direction: column;
        height: fit-content;
    }
    .block_info_dash_bl1{
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

/* titel dashboard end */


.graf_body{
    height: fit-content;
    width: 100%;
    display: flex;
}


.graf_1{
    width: 600px;
    height: 415px;
    border-radius: 0.35rem;
    background-color: #FFFFFF;
    flex-grow: 1;
}

#container_graf1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

#block_graf1{
    width: 100%;
} 

.graf_2{
    margin-left: 20px;
    width: 700px;
    height: 415px;
    border-radius: 0.35rem;
    background-color: #FFFFFF;
    flex-grow: 1;
}

#chDonut2{
    margin-top: 20px;
}


.graf_titel{
    width: 100%;
    height: 52px;
    border-radius: 0.35rem 0.35rem 0 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    display: flex;
    align-items: center;
}

.graf_titel_text{
    margin-left: 15px;
    font-family: Inter;
    font-style: normal;
    font-size: 1rem;
    color: #4e73df!important;
}

.block_num_and_line{
    width: 100%;
    height: 100%;
}

.block_num_storage{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_num{
    font-size: 50px;
    font-family: Lato-Bold;
    color: #4e73df;
}

.block_bg_line{
    margin-top: 20px;
    width: 100%;
}

.bg_line{
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    height: 7px;
    border-radius: 10px;
    background-color: #e3e6f0;
}

.fr_line{
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    width: 70%;
    border-radius: 10px;
    background-color: #4e73df;
}

.text_info_disk{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_in_disk{
    width: 100px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.block_in_disk_titel{
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #5a5c69;
}

.block_in_disk_info{
    padding-top: 10px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}


#chLine{
    padding: 15px;
    
}


@media screen and (max-width: 767px){
    
    .graf_body{
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }
    .graf_1 {
        margin-top: 4px;
        margin-bottom: 4px;
        width: 73vw;
        height: fit-content;
    }
    .graf_2 {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 0px;
        width: 73vw;
        height: fit-content;
    }

    #chDonut2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
