.nav_bar_top_with_add{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#btn_add{
    margin-right: 12px;
}

#btn_delete_element{
    border-color: darkred;
    color: darkred;
}

#btn_delete_element:hover{
    background-color: darkred;
    color: white;
}


#coopPopUpAddElement{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    z-index: 4;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    width:600px;
    height: fit-content;
    background-color: #171717;
    border-radius:18px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.popUp-blockTitel{
    height: 45px;
    width: 100%;
    display: flex;
    color: #fff;
    padding-left: 30px;

}

.titel_popUp{
    flex-grow: 9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_exit{

    height: 24px;
    width: 24px;
    margin-right: 12px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.popUp-blockInfo{
    height: fit-content;
    width: 90%;
    overflow-y: auto;
}

.input_style{
    display: block;
    margin-top: 8px;
    background: #171717;
    color: #fff;
    min-height: 44px;
    font-family: Lato-Regular;
    width: 100%;
}

.input_more_style{
    display: block;
    height: 180px;
    margin-top: 8px;
    background: #171717;
    color: #fff;
    min-height: 44px;
    font-family: Lato-Regular;
    width: 100%;
}

.popUp-blockBtn{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_add_material{
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
}

#coopPopUpEditElement{
    display: flex;
    justify-content: center;
    align-items: center;
}