<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head style="padding-top: 0">

    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Изготовление Памятников в Глубоком фото и цены. Заказать недорого по индивидуальному проекту</title>
    <meta name="description" content="Онлайн редактирование памятника. Памятники недорого в Глубоком">
    <meta name="keywords" content="Конструктор, Создание, Показ">

    <meta name="robots" content="index, follow">
    <meta name="geo.placename" content="Глубокое, Беларусь">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="images/logo_monument.svg" sizes="180x180">
    <link rel="icon" href="images/logo_monument.svg" sizes="32x32" type="image/png">
    <link rel="icon" href="images/logo_monument.svg" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="images/logo_monument.svg">
    <link rel="icon" href="images/logo_monument.svg">

    {{! fonts }}
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Marck Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kelly Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cormorant Infant' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    


    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">


    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link type="text/css" href="css/edit/editPage.css" rel="stylesheet" />

    <script src="scripts/mainSmallMenu.js"></script>
    <script src="https://unpkg.com/konva@9.2.1/konva.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/catalog_edit/catalog_edit.js"></script>
    <script src="scripts/edit_to_select_list.js"></script>


    <div id="navBar" class="toolbar">
        <div id="logo_1" class="img_logo_toolbar">
            <img src="images/logo_monument.svg" height="38px"  />
            <div id="logo_titel"><div id="titel1">Монумент-гранит</div><div id="titel2">Глубокое</div></div>
        </div>
        <div class="toolbar_btn">
            <a class="btn_toolbar" href="/">главная</a>
            <a class="btn_toolbar" href="/catalog">каталог</a>
            <a class="btn_toolbar" href="/Constructor">конструктор</a>
            <a class="btn_toolbar" href="/#for_as">контакты</a>
        </div>

        <div class="btn_right">
            <div id="myMenu" class="mob_menu">
                <a href="javascript:void(0)" onclick="myFunction()"><img id="img_menu" class="img_menu" src="images/img_mob_menu_false.svg" height="20px" width="26px" /></a>
            </div>
        </div>
    </div>

    <div id="small_menu" class="small_menu" style="display: none">
        <div class="block_menu">
            <a href="/" class="item_in_small_menu"><div class="small_menu_item1">
                <div style="padding-top: 12px;margin-left: 45px"><span>главная</span></div>
            </div></a>
            <a href="/catalog" class="item_in_small_menu"><div class="small_menu_item2">
                <div style="padding-top: 12px;margin-left: 45px"><span>каталог</span></div>
            </div></a>
            <a href="/Constructor" class="item_in_small_menu"><div class="small_menu_item3">
                <div style="padding-top: 12px;margin-left: 45px"><span>конструктор</span></div>
            </div></a>
            <a href="/#for_as" class="item_in_small_menu"><div class="small_menu_item4">
                <div style="padding-top: 12px;margin-left: 45px"><span>контакты</span></div>
            </div></a>
            <a><div class="small_menu_item5">
                <div class="small_menu_icons">
                    <div style="margin-right: 10px;height: 32px;width: 32px">
                        <a href="/"><div class="btn_site1_in_menu"></div></a>
                    </div>
                    <div style="margin-left: 10px; margin-right: 10px">
                        <a href="https://www.instagram.com/pamiatniki_glubokoye/"><div class="btn_site2_in_menu"></div></a>
                    </div>
                </div>
            </div></a>
        </div>
    </div>

</head>
<body>
    <div class="container_edit">
        <div class="block_see_model">
            <div class="model_titel">Редактирование</div>
            <div class="block_edit">
                <img id="img_monument" src="images/edit_page/monuments_select/item1/item1.png" height="100%" style="position: relative;">
                <div id="container"></div>
            </div>
            {{! <button onclick="saveFile()" class="btn_save">Сохранить</button> }}

        

        </div>
        <div class="block_list_select">
            <select id="top_select">
                <option value="item_1">Стеллы</option>
                <option value="item_2">Портрет</option>
                <option value="item_3">Данные</option>
                <option value="item_4">Слова</option>
<!--                <option value="item_5">Оформление</option>-->
            </select>
        </div>

        <div class="block_select">
            <div id="btns_use_k">
                
            </div>
            <div id="btns_sel" class="btns_select">
                <div class="dropdown">
                    <button class="dropbtn">Стеллы</button>
                    <div class="dropdown-content">
                      <a href="javascript:getList(1)">Вертикальные</a>
                      <a href="javascript:getList(2)">Горизонтальные</a>
                      <a href="javascript:getList(3)">Фигурные</a>
                      <a href="javascript:getList(4)">Арки</a>
                      <a href="javascript:getList(5)">Резные</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Портрет</button>
                    <div class="dropdown-content">
                      <a href="javascript:getList(6)">Гравировка</a>
                      <a href="javascript:getList(7)">Фотокерамика</a>
                      <a href="javascript:getList(8)">Табличка</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Данные</button>
                    <div class="dropdown-content">
                      <a href="javascript:getList(9)">Фамилия</a>
                      <a href="javascript:getList(10)">Имя</a>
                      <a href="javascript:getList(11)">Отчество</a>
                      <a href="javascript:getList(12)">Даты</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Слова</button>
                    <div class="dropdown-content">
                      <a href="javascript:getList(13)">Эпитафия</a>
                      <a href="javascript:getList(14)">С изображением</a>
                    </div>
                </div>
<!--                <div class="dropdown">-->
<!--                    <button class="dropbtn">Оформление</button>-->
<!--                    <div class="dropdown-content">-->
<!--                      <a href="javascript:getList(15)">Церкви</a>-->
<!--                      <a href="javascript:getList(16)">Иконы</a>-->
<!--                      <a href="javascript:getList(17)">Ангелы</a>-->
<!--                      <a href="javascript:getList(18)">Христианство</a>-->
<!--                      <a href="javascript:getList(19)">Свечи</a>-->
<!--                      <a href="javascript:getList(20)">Кресты</a>-->
<!--                      {{! <a href="javascript:getList(21)">Виньетки</a>-->
<!--                      <a href="javascript:getList(22)">Рамки</a>-->
<!--                      <a href="javascript:getList(23)">Птицы</a>-->
<!--                      <a href="javascript:getList(24)">Ветви</a>-->
<!--                      <a href="javascript:getList(25)">Пейзажи</a>-->
<!--                      <a href="javascript:getList(26)">Цветы</a>-->
<!--                      <a href="javascript:getList(27)">Узоры</a>-->
<!--                      <a href="javascript:getList(28)">Военные</a> }}-->

<!--                    </div>-->
<!--                </div>-->
            </div>
            <div id="list_see_select" class="block_see_to_select">
                

        
            </div>

            <script>
                document.querySelector("select").addEventListener('change', function (e) {
                    getListToSelect(e.target.value)
                })
            </script>
        </div>
    </div>

    <script type='text/javascript'>
        var width = 360;
        var height = 450;

        var stage = new Konva.Stage({
            container: 'container',
            width: width,
            height: height,
        });

        var layer = new Konva.Layer();
        stage.add(layer);

        
        // use event delegation to update pointer style
        // and apply borders
        layer.on('mouseover', function (evt) {
            var shape = evt.target;
            document.body.style.cursor = 'pointer';
            shape.strokeEnabled(false);
        });
        layer.on('mouseout', function (evt) {
            var shape = evt.target;
            document.body.style.cursor = 'default';
            shape.strokeEnabled(true);
        });
        function click1(){
            console.log("M");
            
        }
  </script>

    
    
</body>
</html>